.headbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  
  .headbar a {
    float: left;
    padding: 6px;
    color: moccasin;
    text-decoration: none;
    font-size: 17px;
    width: 17%;
    text-align: center; 
  }
  
  
  .headbar a:hover {
    background-color: #000;
  }
  
  

  
  @media screen and (max-width: 500px) {
    .headbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; 
    }

}
.footer{
   color: blanchedalmond;
    text-align: center;
    display: block;
    background-color: black;
    height: 6%;
    font-size: 100%;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbdtvUhiPxbvo3_uKU-lBt-VbAL4kuR2l2tw&usqp=CAU");
}
p{
  color: antiquewhite;

}h1{
  color: antiquewhite;
}